* {
  box-sizing: border-box;
}

#blog-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
  //   background-color: yellow;
}

.header-conatiner {
  height: 10%;
  display: flex;
  justify-content: space-between; 
  padding: 0 20px;
  align-items: center; 
  background-color: #bbbbbb;
}

/* Header sections */
.left-section,
.right-section {
  height: 100%;
  display: flex;
  align-items: center;
}

.right-section {
  gap: 2em;
  margin-right: 2em;
}

.body-container {
  height: calc(90% - 2em);
}

.table-container {
  height: 100%;
  display: grid; 
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)
  ); 
  gap: 20px; 
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em 4em !important;
  overflow: auto;
}

.left-section img {
  width: 200px;
  height: auto;
  margin-right: 10px;
}

::ng-deep {
  .mat-mdc-paginator-container {
    justify-content: center !important;
  }

  .mat-mdc-header-cell {
    font-size: 1.5em;
  }

  .mat-mdc-table {
    border-radius: 3% !important;
    padding: 0.5em 2em;
    background-color: #82a3aa !important;
  }

  .mat-mdc-row {
    height: 4em !important;
    border-radius: 1em !important;
    color: rgb(255, 255, 255) !important;
    font-size: 1.5em !important;
  }

  .mat-mdc-raised-button {
    border-radius: 7% !important;
  }

  .mat-mdc-text-field-wrapper {
    margin-top: 1.5em;
  }

  .mat-mdc-cell {
    font-size: 1em !important;
  }

  .mat-mdc-icon-button {
    color: rgb(255, 255, 255) !important;
  }

  .mat-mdc-paginator-container {
    background-color: #d8c9bf;
    border-radius: 1em;
  }
}
