.page-div {
  height: 80vh !important;
  overflow: hidden;
}

.main-div {
  width: 90%;
  margin: 8em 4em;
  padding: 1em;
  background-color: #d3d9d4;
  border-radius: 1em;
}

#title {
  input {
    font-size: 3em;
  }
  width: 98%;
  padding: 0.5em;
  font-weight: bold;
}

#author {
  width: 48%;
  padding: 0.5em;
  margin-right: 0.5em;
}

#category {
  width: 49%;
}

#content {
  width: 98%;
  padding: 0.5em;
}

button {
  border-radius: 10% !important ;
  width: 10%;
  margin-left: 1em;
}
