<div class="page-div">
    <div class="main-div">
        <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" id="title">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
                <mat-error *ngIf="blogForm.get('title')?.hasError('required')">Title is required</mat-error>
                <mat-error *ngIf="blogForm.get('title')?.hasError('minlength')">Minimum 5 characters</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" id="author">
                <mat-label>Author</mat-label>
                <mat-select formControlName="author">
                    <mat-option *ngFor="let author of authors" [value]="author">{{author}}</mat-option>
                </mat-select>
                <mat-error *ngIf="blogForm.get('author')?.hasError('required')">Author is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" id="category">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
                </mat-select>
                <mat-error *ngIf="blogForm.get('category')?.hasError('required')">Category is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" id="content">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" rows="5"></textarea>
                <mat-error *ngIf="blogForm.get('content')?.hasError('required')">Content is required</mat-error>
                <mat-error *ngIf="blogForm.get('content')?.hasError('minlength')">Minimum 50 characters</mat-error>
            </mat-form-field>


            <button mat-raised-button color="primary" type="submit" [disabled]="blogForm.invalid">
                {{ isEditMode ? 'Update' : 'Publish' }}
            </button>

            <button mat-raised-button color="primary" type="submit" (click)="goBack()">
                Back to List
            </button>

        </form>
    </div>
</div>